*.iml
.gradle
/local.properties
/.kotlin
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
tmp_video/
tmp_video_frames/
docs-private/
/dist
**/__pycache__/
tools/question_json_generator/build/
tools/question_json_generator/build_alt/
tools/question_json_generator/build_root/
tools/question_json_generator/dist/
